.main-content button {
  background-color: blue;
}

#Sign-In-Btn {
  background-color: blueviolet;
}

.main-content > a {
  text-decoration: non;
}

.main-content + p {
  background-color: chartreuse;
}

input[type="password"] {
  color: pink;
}
