html, body {
  height: 100%;
  background-color: yellow;
}

section {
  background-color: yellowgreen;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  border: 3px solid pink;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap
}
div {
  width: 300px;
  height: 100px;
}
